.mensagem {
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
    text-align: center;
    margin: 0 auto 2em;
    border-radius: 5px;
}

.sucesso {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.erro {
    color: #721c24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}